.column {
  width: 350px;
  height: 350px;
  float: left;
  padding: 50px;

  }

.size {
  width: 350px;
  height: auto;
}

.col1 {
  background-color: red;
}

.col2 {
  background-color: orange;
}

.col3 {
  background-color: green;
}
